/* index.scss */

$color-primary: #fdb13f;
$font-primary:  #474747;
$font-secondary: #caa8a8;
$background: #cfffff;
$white: #fff;

body{
  background-color: $background;
  color: $font-primary;
}

header{
  background-color: $color-primary;
  padding: 20px 0;
  border-bottom: 8px solid $font-primary;
} 

span{
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  background-color: $font-secondary;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.app-container{
  margin-top:30px;
}